{% if latest_question_list %}

<ul>
  {% for question in latest_question_list %}
  <li>
    <a href="{% url 'polls:detail' question.id %}"
      >{{ question.question_text }}</a
    >
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No polls are available.</p>
{% endif %} class IndexView(generic.ListView): template_name =
"polls/index.html" context_object_name = "latest_question_list" def
get_queryset(self): """Return the last five published questions.""" return
Question.objects.order_by("-pub_date")[:5]
